* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#portfolio {
  width: 100vw;
  height: 100vh;
  background-color: #20242d;
}

#nav {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #1d284486; */
  backdrop-filter: blur(15px);
  color: rgb(12, 172, 132);
  font-family: "Times New Roman", Times, serif;
  padding-left: 1%;
  font-weight: 600;
  font-size: 1.1vw;
}
.section {
  width: 50vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2%;

  /* background-color: #25d6d6; */
}
.section h3 {
  width: 7vw;
  height: 3.8vh;
  /* background-color: aqua; */
  text-align: center;
  align-content: center;
  font-family: "Courier New", Courier, monospace;
  border-radius: 10%;
  cursor: pointer;
  font-size: 1.35vw;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}

.section h3:hover {
  background-color: rgba(69, 98, 112, 0.253);
  font-size: 1.5vw;
  border-radius: 7%;
}
#content {
  width: 100%;
  height: 90%;
  /* background-color: crimson; */
  padding: 1px;
  color: rgba(245, 245, 245, 0.833);
}
.bio {
  width: 85%;
  height: 55%;

  /* background-color: #23143b; */
  /* backdrop-filter: blur(15px); */
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 3s ease-out, transform 3s ease-out;
  box-shadow: rgba(12, 172, 132, 0.2) 0px 30px 60px -12px inset,
    rgba(12, 172, 132, 0.2) 0px 18px 36px -18px inset;
  margin-left: 8%;
  margin-top: 5%;
  padding: 1%;
}
.bio.loaded {
  opacity: 1;
  transform: translateY(0);
}
.bio h6 {
  margin-top: 1%;
  font-size: 1vw;
  font-weight: 600;
}
.c {
  font-size: 1.8vw;
  font-weight: 550;
}
.bio h2 {
  margin-top: 1%;
  font-size: 3.4vw;
  font-weight: 600;
  /* color: red; */
}
.bio h4 {
  margin-top: 1%;
  font-size: 2.4vw;
  font-weight: 550;
  font-family: "Times New Roman", Times, serif;
  /* color: red; */
}
.button {
  width: 8%;
  height: 10%;
  text-align: center;
  align-content: center;
  margin-top: 2%;
  font-size: 1.3vw;
  font-family: "Times New Roman", Times, serif;
  /* justify-content: center; */
  background-color: rgb(12, 172, 132);
  border: none;
  /* border-radius: 20%; */
  color: black;
  cursor: pointer;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.button:hover {
  /* background-color: rgb(12, 172, 132); */
  color: whitesmoke;
  /* font-size: 1.5vw; */
}

#contact {
  width: 100%;
  height: 22%;
  background-color: rgba(12, 140, 132, 0.395);
  backdrop-filter: blur(15px);
  margin-top: 5%;
  box-shadow: inset 0 0 35px 5px rgba(0, 0, 0, 0.25),
    /* inset 0 2px 1px 1px rgba(255, 255, 255, 0.9), */
    inset 0 -2px 1px rgba(0, 0, 0, 0.25);
}

#contactinfo {
  padding-top: 0.8%;
  position: relative;
  color: rgba(255, 255, 255, 0.625);
  font-size: 1.2vw;
  font-weight: 700;
  align-items: start;
  margin-left: 2%;
}
#contactinfo h6 {
  color: rgba(255, 255, 255, 0.625);
}
#socialmedia {
  color: rgba(255, 255, 255, 0.625);
  font-size: 1vw;
  text-align: center;
}
.social-media-icons {
  display: flex;
  justify-content: center;
  gap: 2.5%; /* Space between icons */
}

.social-media-icons a {
  color: #5f5858d8; /* Default icon color */
  text-decoration: none;
  font-size: 1.4vw; /* Icon size */
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

.social-media-icons a:hover {
  color: #007bff; /* Icon color on hover */
}

